# assume torch is already installed
huggingface_hub #for downloading data and stuff
# pycolmap for data parsing
viser
imageio[ffmpeg]
numpy<2.0.0
scikit-learn
tqdm
torchmetrics[image]
opencv-python
tyro>=0.8.8
Pillow
tensorboard
tensorly
pyyaml
matplotlib
open3d
wandb
splines
nerfview
cmocean
seaborn